

<div class="grid">
	<div class="col-12">
		<div class="card">
      
      <tr>
        <th>Compétences</th>
      </tr>

 <p-dropdown 
  [options]="categories" 
  [(ngModel)]="selectedCategory" 
  placeholder="Select a Category" 
  (onChange)="onCategoryChange($event)">
</p-dropdown>

<p-table [value]="competencelist">
  <ng-template pTemplate="header">
   
  </ng-template>

  <ng-template pTemplate="body" let-skill>
    <tr>
      <td>{{ skill }}</td>
    </tr>
  </ng-template>
</p-table> 
    </div>
  </div>
  </div>
